.row
  .large-4.columns
    = image_tag @album.albumthumbnail_url(:thumbsmal).to_s

  .large-8.columns
    = form_for @album do |f|
      - if @album.errors.any?
        #error_explanation
          %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
          %ul
            - @album.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :name
        = f.text_area :name
      .field
        = f.label :description
        = f.text_area :description
      .field
        = f.label :albumthumbnail
        = f.file_field :albumthumbnail
      .field
        = f.label :promoted
        = f.check_box :promoted
      .actions
        = f.submit 'Save', class: "button"