- key = Rails.application.config.session_options[:key]
.row
  .large-12.columns.large-centered
    .large-2.columns.panel

      = render "shared/side_nav"

    .large-10.columns
      %h2
        Admin Dashboard - Editing album
      .row
        = render @album.pictures

      =link_to "Bild Hinzufügen", new_album_picture_path(@album), class: "button", "data-reveal-id" => "add-pictures"
      
      = render 'form'

-content_for :modals do
  .reveal-modal.medium#add-pictures
    = form_for [@album, Picture.new] do |f|
      = f.label :image, "Upload Pictures:"
      = f.file_field :image, multiple: true, name: "picture[image]"
    %a.close-reveal-modal
      &#215;
