!!!
%html
  %head
    %title GalleryOnRails
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        = render "layouts/navigation"
        = yield
        = render "layouts/footer"
    #modals
    = yield :modals
    = javascript_include_tag "application"
    = yield :scripts
